'menu': [
  {
    'label': 'Titanium'
    'submenu': [
      {
        'label': 'Build',
        'submenu': [
          {
            'label': 'iPhone'
            'command': 'ti-build-atom:iphoneSimulator'
          },
          {
            'label': 'iPad'
            'command': 'ti-build-atom:ipadSimulator'
          },
          {
            'label': 'Android'
            'command': 'ti-build-atom:androidDevice'
          }
        ]
      },
      {
        'label': 'Clean',
        'command': 'ti-build-atom:clean'
      }
    ]
  }
]
