# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
# '.workspace':
#   'alt-cmd-v': 'ti-build-atom:build'
#   'alt-cmd-b': 'ti-build-atom:toggle'
#   'alt-cmd-b-d': 'ti-build-atom:iosDevice'
#   'alt-cmd-b-1': 'ti-build-atom:iphoneSimulator'
#   'alt-cmd-b-2': 'ti-build-atom:ipadSimulator'
#   'alt-cmd-b-a': 'ti-build-atom:androidDevice'
#   'alt-cmd-c': 'ti-build-atom:tiClean'

'.platform-darwin .editor':
  'alt-cmd-b': 'ti-build-atom:toggle'
  'alt-cmd-c': 'ti-build-atom:clean'
  'alt-cmd-1': 'ti-build-atom:iphoneSimulator'
  'alt-cmd-2': 'ti-build-atom:ipadSimulator'
  'alt-cmd-3': 'ti-build-atom:androidDevice'

'.platform-linux .editor, .platform-win32 .editor':
  'alt-ctrl-b': 'ti-build-atom:toggle'
  'alt-ctrl-c': 'ti-build-atom:clean'
  'alt-ctrl-1': 'ti-build-atom:iphoneSimulator'
  'alt-ctrl-2': 'ti-build-atom:ipadSimulator'
  'alt-ctrl-3': 'ti-build-atom:androidDevice'
